{% extends 'layout_admin.html' %}

{% block content %}
<div class="block has-text-centered">
    <section class="section">
        <h1 class="title">
            Bem-vindo ao DIMU!
        </h1>
    </section>
<h2 class="subtitle">
    Aqui você pode criar seu cardapio digital gratuitamente, com
    um QR-CODE único e que nao se altera após alteracoes de cardápio!
</h2>
<div class="block">
    <section class="section">
        <section class="section">
            <div class="block">
                <h3>Nao tem conta ainda? Crie agora!</h3>
            </div>
        <div class="block">
            <a class="button is-primary" href="/login">Crie aqui!</a>
        </div>
        </section>
        <section class="section">
            <div class="block">
                <h3>Já tem? Entre nao sua conta!</h3>
            </div>
        <div class="block">
            <a class="button is-primary">Entrar</a>
        </div>
        </section>
    </section>
</div>
</div>

{% endblock %}
